.buttonStyle {
    background-color: var(--button-bkg)!important; 
    color: var(--button-text)!important; 
    font-family: var(--ff-primary)!important;
}

.buttonStyle:hover {    
    background-color: var(--button-bkg-hover)!important; 
    color: var(--button-text)!important; 
}

.user-display {
    margin: 15px 15px 15px 0;
}

.welcome-user-navbar {
    font-family: var(--ff-primary);
    font-size: var(--fs-large);
    font-weight: 500;
}
