.buttonStyle {
    margin-top:5px;
    border: none;
    background-color: var(--button-bkg);
    color: var(--button-text);
    font-family: var(--ff-primary)!important;
}

.buttonStyle:hover {
    background-color: var(--button-bkg-hover);
    color: var(--button-text-hover);
}

.user-display {
    margin: 15px 15px 15px 0;
}

.welcome-user-navbar {
    font-family: var(--ff-primary);
    font-size: var(--fs-large);
    font-weight: 500;
}
